/* ----< distro icon >---- */

.distro_box {
	padding: 0 10px 0 5px;
	background-color: $accent;
	color: $main-bg;
}

.distro_icon {
	color: $main-bg;
	font-size: 22px;
}

.left_div_1,
.right_div_1 {
	color: $accent;
	font-size: 22px;
}

/* ----< cpu and time >---- */

.left_invdiv_1,
.left_div_2,
.right_invdiv_1,
.right_div_2 {
	color: $cpu_time;
	font-size: 22px;
}
.cpu_icon {
  background-color: $cpu_time;
  margin: 0 5px 0 20px;
}
.time_icon {
  background-color: $cpu_time;
  margin: 0 5px 0 5px;
}
.cpu_text,
.time_text {
  background-color: $cpu_time;
  margin: 0 5px 0 5px;
}
.cpu_box,
.time_box {
  background-color: $cpu_time;
  min-width: 80px;
}

/* ----< memory and date >---- */

.left_invdiv_2,
.left_div_3,
.right_invdiv_2,
.right_div_3 {
	color: $memory_date;
	font-size: 22px;
}
.memory_icon {
  background-color: $memory_date;
  margin: 0 5px 0 20px;
}
.date_icon {
  background-color: $memory_date;
  margin: 0 5px 0 5px;
}
.memory_text,
.date_text {
  background-color: $memory_date;
  margin: 0 5px 0 5px;
}
.memory_box,
.date_box {
  background-color: $memory_date;
  min-width: 80px;
}


/* ----< temperature and layout >---- */

.left_invdiv_3,
.left_div_4,
.right_invdiv_3,
.right_div_4 {
	color: $temp_layout;
	font-size: 22px;
}
.temp_icon {
  background-color: $temp_layout;
  margin: 0 5px 0 20px;
}
.layout_icon {
  background-color: $temp_layout;
  margin: 0 15px 0 10px;
}
.temp_text,
.layout_text {
  background-color: $temp_layout;
  margin: 0 5px 0 5px;
}
.temp_box,
.layout_box {
  background-color: $temp_layout;
  min-width: 80px;
}

