/* ----< cpu >---- */

.left_invdiv_1,
.left_div_2 {
	color: $cpu;
	font-size: 22px;
}


/* ----< distro icon >---- */

.distro_box {
	padding: 0 10px 0 5px;
	background-color: $accent;
	color: $main-bg;
}

.distro_icon {
	color: $main-bg;
	font-size: 22px;
}

.left_div_1,
.right_div_1 {
	color: $accent;
	font-size: 22px;
}

/* ----< time >---- */

.right_invdiv_1,
.right_div_2,
.right_invdiv_2,
.right_div_3 {
	color: $time;
	font-size: 22px;
}
.time_icon {
  background-color: $time;
  margin: 0 5px 0 5px;
}
.time_text {
  background-color: $time;
  margin: 0 5px 0 5px;
}
.time_box {
  background-color: $time;
}
