/* ----< distro icon >---- */

.distro_box {
	padding: 0 10px 0 5px;
	background-color: $accent;
	color: $main-bg;
}

.distro_icon {
	color: $main-bg;
	font-size: 22px;
}

.left_div_1,
.right_div_1 {
	color: $accent;
	font-size: 22px;
}

/* ----< cpu and time >---- */

.left_invdiv_1,
.left_div_2,
.right_invdiv_1,
.right_div_2 {
	color: $cpu_time;
	font-size: 22px;
}
.cpu_icon {
  background-color: $cpu_time;
  margin: 0 5px 0 20px;
}
.time_icon {
  background-color: $cpu_time;
  margin: 0 5px 0 5px;
}
.cpu_text,
.time_text {
  background-color: $cpu_time;
  margin: 0 5px 0 5px;
}
.cpu_box,
.time_box {
  background-color: $cpu_time;
  min-width: 80px;
}

