* {
    background-image: none;
    font-size: 28px;
}

@import url("../waybar/themes/current.css");

window {
    background-color: transparent;
    animation: gradient_f ease-in infinite;
}

button {
    color: transparent;
    opacity: 0.8;
    background-color: @fg2;
    outline-style: none;
    border: none;
    border-width: 0px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20%;
    border-radius: 0px;
    box-shadow: none;
    text-shadow: none;
}

button:hover {
    background-color: @fg1;
    background-size: 30%;
    border-radius: 20px;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s cubic-bezier(.55,0.0,.28,1.682);
}

button:hover#lock {
    border-radius: 20px 0px 0px 20px;
    margin : 20px 0px 20px 0px;
}

button:hover#suspend {
    border-radius: 0px 0px 0px 0px;
    margin : 20px 0px 20px 0px;
}

button:hover#reboot {
    border-radius: 0px 0px 0px 0px;
    margin : 20px 0px 20px 0px;
}


button:hover#shutdown{
    border-radius: 0px 20px 20px 0px;
    margin : 20px 0px 20px 0px;
}

#lock {
    background-image: image(url("./icons/lock_black.png"));
    border-radius: 20px 0px 0px 20px;
    margin : 50px 0px 50px 0px;
}

#suspend {
    background-image: image(url("./icons/suspend_black.png"));
    border-radius: 0px 0px 0px 0px;
    margin : 50px 0px 50px 0px;
}

#reboot {
    background-image: image(url("./icons/reboot_black.png"));
    border-radius: 0px 0px 0px 0px;
    margin : 50px 0px 50px 0px;
}

#shutdown {
    background-image: image(url("./icons/shutdown_black.png"));
    border-radius: 0px 20px 20px 0px;
    margin : 50px 0px 50px 0px;
}
